<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- JS -->
    <script defer src="./js/time.js"></script>
    <script defer src="./js/search.js"></script>
    <script src="https://kit.fontawesome.com/818834dbf2.js" crossorigin="anonymous"></script>

    <!-- CSS 초기화 -->
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/search.css" />
    <link rel="stylesheet" href="./css/header-data.css" />


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

</head>
<body>
    <div class="container">
        
        <!-- MAIN MENU -->
        <header>
            <div class="logo">
                <!-- <img src="" alt="logo"> -->
                <span>Management</span>
            </div>
            <!-- <div class="data">
                <button id="data-add" class="data-btn">Open 차량 추가</button>
                <button id="data-modify" class="data-btn">차량 수정</button>
                <button id="data-delete" class="data-btn">차량 삭제</button>
            </div> -->
  
        </header>


        <!-- NAV -->
        <nav>
            <div class="menu">
                <ul class="main-menu">
                    <li>
                        <a href="/"><i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/search">
                            <i class="fas fa-search"></i>
                            검색
                        </a>
                    </li>
                    <li>
                        <a href="/parts">
                            <i class="fas fa-th-large"></i>
                            재고관리
                        </a>
                    </li>
                    <li>
                        <a href="/calendar">
                            <i class="far fa-calendar-alt"></i>
                            일정관리
                        </a>
                    </li>
                </ul>
                
                
                <div id="time">
                    <p>0000-00-00</p>
                    <div class="clock">
                        <p>AM </p>
                        <p>00:00</p>
                    </div>
                </div>
                    
                

            </div>
        </nav>
        

        <!-- MAIN CONTENTS -->
        <article>
            <section class="section-1">
                <form id="search">
                    <div id="category">
                        <input type="radio" name="category" value="number" checked>차량번호
                        <input type="radio" name="category" value="i_number">차대번호
                        <input type="radio" name="category" value="car_name">차종
                        <input type="radio" name="category" value="owner">차주
                        <input type="radio" name="category" value="phone">연락처
                    </div>
                    <input type="text" name="keyword" placeholder=" Search"/>
                    <button class="search-btn">
                        <a href="javascript:void(0)">
                            <i class="fas fa-search"></i>
                        </a>
                    </button>

                </form>
            </section>
            
            <section id="data-add-section" class="hide">
                <div id="data-form">
                    <button id="add-close-btn">Close</button>
                    <form method="POST">
                        <div>
                            <span>차량 등록</span>
                            <div>
                                <button>추가하기</button>
                            </div>
                        </div>
                        <div>
                            <input name="number", placeholder="차량번호", required, type="text">
                            <input name="i_number", placeholder="차대번호", required, type="text">
                            <input name="car_name", placeholder="차종", required, type="text">
                            <input name="owner", placeholder="차주", type="text">
                            <input name="phone", placeholder="연락처", type="text">
                        </div>
                    </form>
                </div>
            </section>
            
            
            <section class="section-2">
                <div id="data-container" class="item">
                    <form method="POST">
                        <div id="data-update-div" class="hide">
                            <div id="update-box">
                                <span>UPDATE</span>
                                <div class="felx-box">
                                    <button class="data-btn" formaction="/search/update">Save</button>
                                    <div id="update-close" class="data-btn">cancle</div>
                                </div>
                            </div>
                        </div>
                        <div class="btnBox">
                            <div id="data-add" class="data-btn">Open 차량 추가</div>
                            <div id="data-update" class="data-btn" >차량 수정</div>
                            <button id="data-delete" class="data-btn" formaction="/search/delete">차량 삭제</button>
                        </div>
                        <table >
                            <th><input id="checkAll" type="checkbox" name="all" value="true"></th>
                            <th>차량번호</th>
                            <th>차대번호</th>
                            <th>차종</th>
                            <th>차주</th>
                            <th>연락처</th>
                            <th>이력</th>

                            <% for(let i=0; i < datas.length ; i++){ %>
                                <tr class="data">
                                    <td><input type="checkbox" name="target" value=<%=datas[i]._id%>></td>
                                    <td><%=datas[i].number%></td>
                                    <td><%=datas[i].i_number%></td>
                                    <td><%=datas[i].car_name%></td>
                                    <td><%=datas[i].owner%></td>
                                    <td><%=datas[i].phone%></td>
                                    <td><%=datas[i].history%></td>
                                </tr>
                            <% } %>
                            </table>
                    </form>
                </div>
            </section>
            






        </article>

        <!-- <div id="todayBtn">
            <i class="far fa-calendar-alt"></i>
        </div> -->

    </div>
    
</body>
</html>